@import 'colors';
@import 'fonts';
@import "./styles/footer/carousel/desktop";
@import "./styles/footer/carousel/mobile";
@import "./styles/footer/desktop";
@import "./styles/footer/mobile";
@import "./styles/main/desktop";
@import "./styles/main/mobile";
@import "./styles/main/side_navbar/desktop";
@import "./styles/main/side_navbar/mobile";
@import "./styles/navbar/desktop";
@import "./styles/navbar/mobile";
@import "./styles/subnavbar/desktop";
@import "./styles/subnavbar/mobile";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
}