@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"); }
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff"); }
main {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 10px 5vw; }
  main a {
    color: #007185;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400; }
    main a:hover {
      text-decoration: underline;
      color: #c7511f; }
  main .path {
    font-size: 12px;
    font-weight: 400;
    color: #565959;
    margin-bottom: 20px; }
  main .panes {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px #ccc solid; }
    main .panes .pane {
      height: 99%; }
    main .panes .big {
      font-size: 18px; }
    main .panes .red {
      color: #b12704; }
    main .panes .line {
      text-decoration: line-through; }
    main .panes .container {
      width: 80%;
      display: flex; }
      main .panes .container .image-pane {
        width: 60%;
        display: flex;
        flex-direction: row; }
        main .panes .container .image-pane .image-container {
          width: 100%;
          height: 80%;
          display: flex;
          padding: 1.3rem; }
          main .panes .container .image-pane .image-container .little {
            height: 300px;
            width: 40px; }
            main .panes .container .image-pane .image-container .little .preview-1 {
              width: 38px;
              height: 50px;
              background: url(/Assets/Img/little-1.jpg) no-repeat center center/cover;
              border: rgba(0, 0, 0, 0.385) 1px solid;
              margin-bottom: 0.6rem;
              cursor: pointer; }
              main .panes .container .image-pane .image-container .little .preview-1:hover {
                border: #ffb514 1px solid;
                box-shadow: 1px 1px 2px 1px #ffd814c5, -1px -1px 2px 1px #ffd814c5; }
            main .panes .container .image-pane .image-container .little .preview-2 {
              width: 38px;
              height: 50px;
              background: url(/Assets/Img/watch-2.jpg) no-repeat center center/cover;
              border: rgba(0, 0, 0, 0.385) 1px solid;
              margin-bottom: 0.6rem;
              cursor: pointer; }
              main .panes .container .image-pane .image-container .little .preview-2:hover {
                border: #ffb514 1px solid;
                box-shadow: 1px 1px 2px 1px #ffd814c5, -1px -1px 2px 1px #ffd814c5; }
            main .panes .container .image-pane .image-container .little .preview-3 {
              width: 38px;
              height: 50px;
              background: url(/Assets/Img/watch-3.jpg) no-repeat center center/cover;
              border: rgba(0, 0, 0, 0.385) 1px solid;
              margin-bottom: 1rem;
              cursor: pointer; }
              main .panes .container .image-pane .image-container .little .preview-3:hover {
                border: #ffb514 1px solid;
                box-shadow: 1px 1px 2px 1px #ffd814c5, -1px -1px 2px 1px #ffd814c5; }
          main .panes .container .image-pane .image-container .big-pic {
            width: 95%;
            height: 100%;
            text-align: center; }
            main .panes .container .image-pane .image-container .big-pic .pic {
              height: 100%;
              background: url(/Assets/Img/watch-1.jpg) no-repeat center center;
              margin-bottom: 10px; }
      main .panes .container .detailes-pane {
        width: 40%; }
        main .panes .container .detailes-pane .box {
          border-bottom: 1px #e2e0e0 solid;
          width: 100%; }
        main .panes .container .detailes-pane .top-top {
          height: 25%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          main .panes .container .detailes-pane .top-top .top {
            display: flex;
            flex-direction: column;
            justify-content: flex-end; }
            main .panes .container .detailes-pane .top-top .top h1 {
              font-weight: 400;
              font-size: 24px;
              color: #565959; }
          main .panes .container .detailes-pane .top-top .bottom a {
            font-size: 12px; }
        main .panes .container .detailes-pane .top-down {
          height: 15%;
          color: #565959;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          main .panes .container .detailes-pane .top-down .top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            line-height: 20px;
            padding: 10px 0; }
          main .panes .container .detailes-pane .top-down .bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-start; }
        main .panes .container .detailes-pane .down-top {
          height: 24%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          main .panes .container .detailes-pane .down-top h4 {
            margin: 0.5vw 0; }
          main .panes .container .detailes-pane .down-top ul {
            font-size: 14px;
            margin-left: 18px;
            margin-bottom: 0.5vw; }
            main .panes .container .detailes-pane .down-top ul li {
              padding: 3px 0; }
        main .panes .container .detailes-pane .down-down {
          border: none; }
    main .panes .sale-pane {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400; }
      main .panes .sale-pane .small {
        line-height: 16px;
        font-size: 12px; }
      main .panes .sale-pane .light {
        color: #565959; }
      main .panes .sale-pane .with-border {
        border: #ccc 1px solid;
        border-radius: 5px;
        height: 90%;
        width: 90%;
        padding: 0 1.7rem; }
        main .panes .sale-pane .with-border h2 {
          font-size: 18px;
          color: #007600; }
        main .panes .sale-pane .with-border select {
          border-radius: 10px;
          font-size: 11px;
          background: #e5e1e1;
          color: #0f1111;
          opacity: 0.8;
          cursor: pointer; }
        main .panes .sale-pane .with-border .round-btn {
          width: 100%;
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          border-radius: 30px;
          border: none;
          cursor: pointer; }
        main .panes .sale-pane .with-border .btn-cart {
          background: #FFD814; }
          main .panes .sale-pane .with-border .btn-cart:hover {
            background: #ffc414; }
        main .panes .sale-pane .with-border .btn-buy {
          background: #FFA41C; }
          main .panes .sale-pane .with-border .btn-buy:hover {
            background: #ff991c; }
        main .panes .sale-pane .with-border .border {
          width: 100%;
          height: 30px;
          border-bottom: 1px rgba(0, 0, 0, 0.19) solid; }
        main .panes .sale-pane .with-border .btn-list {
          width: 100%;
          text-align: start;
          padding: 0.3rem;
          cursor: pointer;
          margin-top: 5px; }
      main .panes .sale-pane .icons {
        margin-top: 10px; }
        main .panes .sale-pane .icons a {
          display: inline-block;
          width: 18px;
          height: 15px;
          background: url(/Assets/Img/_email_add_app_essential_icon.png) no-repeat center center/cover; }
        main .panes .sale-pane .icons .facebook {
          background: url(/Assets/Img/_facebook_social\ media_social_icon.png) no-repeat center center/cover; }
        main .panes .sale-pane .icons .twitter {
          background: url(/Assets/Img/_bird_tweet_twitter_twitter\ logo_icon.png) no-repeat center center/cover; }
        main .panes .sale-pane .icons .pinterest {
          background: url(/Assets/Img/_inspiration_pin_pinned_pinterest_social\ network_icon.png) no-repeat center center/cover; }
        main .panes .sale-pane .icons button {
          background: #fff;
          margin-top: 10px;
          border-radius: 5px;
          padding: 0.3rem 1rem;
          border: 1px #ccc solid; }

@media (max-width: 1000px) {
  main .panes {
    height: 400vh;
    flex-direction: column; }
    main .panes .container {
      flex-direction: column;
      width: 100%;
      height: 200vh; }
      main .panes .container .image-pane {
        width: 100%;
        height: 100vw; }
        main .panes .container .image-pane .image-container .big-pic .pic {
          background: url(/Assets/Img/watch-1.jpg) no-repeat center center/cover; }
      main .panes .container .detailes-pane {
        width: 100%;
        height: 100vh; }
        main .panes .container .detailes-pane .down-down {
          height: 10%; }
    main .panes .sale-pane {
      width: 100%; }
      main .panes .sale-pane .with-border {
        height: 33%; } }
.nav-box {
  height: 50px;
  color: #fff; }
  .nav-box:hover {
    border: #fff solid 1.5px;
    cursor: pointer; }

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center; }

.main-nav {
  justify-content: space-around;
  height: 60px;
  background: #0f1111; }
  .main-nav .left-box {
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center; }
    .main-nav .left-box .logo {
      width: 113px;
      height: 100%;
      display: flex;
      align-items: center; }
    .main-nav .left-box .deliver {
      display: flex;
      align-items: center;
      justify-content: center; }
      .main-nav .left-box .deliver .addres {
        display: flex;
        flex-direction: column; }
  .main-nav .up {
    color: #ccc;
    font-size: 12px;
    font-weight: 400; }
  .main-nav .down {
    color: #fff;
    font-size: 14px;
    font-weight: 700; }
  .main-nav .main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 60%; }
    .main-nav .main-box .nav-search-dropdown {
      font-size: 14px;
      width: 52px;
      background: #ccc;
      border-radius: 4px 0 0 4px;
      flex: 0;
      border: none; }
    .main-nav .main-box .search-bar {
      border: none;
      flex: 1; }
    .main-nav .main-box .search-btn {
      border: none;
      background: #FEBD69;
      height: 100%;
      width: 45px;
      flex: 0;
      background-image: url(/Assets/Img/search-logo.jpg);
      background-repeat: no-repeat;
      background-position: 5px 4px; }
  .main-nav .right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 23%; }
    .main-nav .right-box .nav-box {
      display: flex;
      flex-direction: column;
      justify-content: center; }

@media (max-width: 1200px) {
  .navbar {
    justify-content: space-between; }
    .navbar .left-box .logo {
      margin-right: 50px; }
    .navbar .left-box .deliver {
      display: none; }
    .navbar .right-box .orders {
      display: none; }
    .navbar .right-box .account {
      display: none; }
    .navbar .right-box .state {
      display: none; }
    .navbar .right-box .cart {
      width: 4rem; }
    .navbar .main-box .search-bar {
      margin-left: 50px;
      width: 110px;
      flex: 0; }
    .navbar .main-box .nav-search-dropdown {
      display: none; } }
.sub-nav {
  height: 39px;
  background: #232f3e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .sub-nav .sub-nav-box {
    line-height: 12px;
    font-size: 14px;
    margin-left: 10px;
    padding-right: 10px; }
  .sub-nav .menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .sub-nav .menu .hamburger-menu {
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .sub-nav .menu .hamburger-menu .words {
        font-weight: 700; }
  .sub-nav .list {
    height: 100%;
    display: flex;
    align-items: center; }
    .sub-nav .list a {
      display: flex;
      align-items: center;
      height: 30px;
      text-decoration: none;
      padding: 0 7px;
      font-weight: 400; }

@media (max-width: 1200px) {
  .sub-nav .list {
    display: none; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: amazon Ember;
  height: 300vh; }

/*# sourceMappingURL=index.style.css.map */
