@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"); }
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff"); }
@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff"); }
main {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 10px 5vw; }
  main a {
    color: #007185;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400; }
    main a:hover {
      text-decoration: underline;
      color: #c7511f; }
  main .path {
    font-size: 12px;
    font-weight: 400;
    color: #565959;
    margin-bottom: 20px; }
  main .panes {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px #ccc solid; }
    main .panes .pane {
      height: 99%; }
    main .panes .big {
      font-size: 18px; }
    main .panes .red {
      color: #b12704; }
    main .panes .line {
      text-decoration: line-through; }
    main .panes .container {
      width: 80%;
      display: flex; }
      main .panes .container .image-pane {
        width: 60%; }
      main .panes .container .detailes-pane {
        width: 40%; }
        main .panes .container .detailes-pane .box {
          border-bottom: 1px #e2e0e0 solid;
          width: 100%; }
        main .panes .container .detailes-pane .top-top {
          height: 25%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          main .panes .container .detailes-pane .top-top .top {
            display: flex;
            flex-direction: column;
            justify-content: flex-end; }
            main .panes .container .detailes-pane .top-top .top h1 {
              font-weight: 400;
              font-size: 24px;
              color: #565959; }
          main .panes .container .detailes-pane .top-top .bottom a {
            font-size: 12px; }
        main .panes .container .detailes-pane .top-down {
          height: 15%;
          color: #565959;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          main .panes .container .detailes-pane .top-down .top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            line-height: 20px;
            padding: 10px 0; }
          main .panes .container .detailes-pane .top-down .bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-start; }
        main .panes .container .detailes-pane .down-top {
          height: 24%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          main .panes .container .detailes-pane .down-top h4 {
            margin: 0.5vw 0; }
          main .panes .container .detailes-pane .down-top ul {
            font-size: 14px;
            margin-left: 18px;
            margin-bottom: 0.5vw; }
            main .panes .container .detailes-pane .down-top ul li {
              padding: 3px 0; }
        main .panes .container .detailes-pane .down-down {
          border: none; }
    main .panes .sale-pane {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400; }
      main .panes .sale-pane .small {
        line-height: 16px;
        font-size: 12px; }
      main .panes .sale-pane .light {
        color: #565959; }
      main .panes .sale-pane .with-border {
        border: #ccc 1px solid;
        border-radius: 5px;
        height: 70%;
        width: 90%;
        padding: 1rem; }

.nav-box {
  height: 50px;
  color: #fff; }
  .nav-box:hover {
    border: #fff solid 1.5px;
    cursor: pointer; }

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center; }

.main-nav {
  justify-content: space-around;
  height: 60px;
  background: #0f1111; }
  .main-nav .left-box {
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center; }
    .main-nav .left-box .logo {
      width: 113px;
      height: 100%;
      display: flex;
      align-items: center; }
    .main-nav .left-box .deliver {
      display: flex;
      align-items: center;
      justify-content: center; }
      .main-nav .left-box .deliver .addres {
        display: flex;
        flex-direction: column; }
  .main-nav .up {
    color: #ccc;
    font-size: 12px;
    font-weight: 400; }
  .main-nav .down {
    color: #fff;
    font-size: 14px;
    font-weight: 700; }
  .main-nav .main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 60%; }
    .main-nav .main-box .nav-search-dropdown {
      font-size: 14px;
      width: 52px;
      background: #ccc;
      border-radius: 4px 0 0 4px;
      flex: 0;
      border: none; }
    .main-nav .main-box .search-bar {
      border: none;
      flex: 1; }
    .main-nav .main-box .search-btn {
      border: none;
      background: #FEBD69;
      height: 100%;
      width: 45px;
      flex: 0;
      background-image: url(/Assets/Img/search-logo.jpg);
      background-repeat: no-repeat;
      background-position: 5px 4px; }
  .main-nav .right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 23%; }
    .main-nav .right-box .nav-box {
      display: flex;
      flex-direction: column;
      justify-content: center; }

@media (max-width: 1200px) {
  .navbar {
    justify-content: space-between; }
    .navbar .left-box .logo {
      margin-right: 50px; }
    .navbar .left-box .deliver {
      display: none; }
    .navbar .right-box .orders {
      display: none; }
    .navbar .right-box .account {
      display: none; }
    .navbar .right-box .state {
      display: none; }
    .navbar .right-box .cart {
      width: 4rem; }
    .navbar .main-box .search-bar {
      margin-left: 50px;
      width: 110px;
      flex: 0; }
    .navbar .main-box .nav-search-dropdown {
      display: none; } }
.sub-nav {
  height: 39px;
  background: #232f3e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .sub-nav .sub-nav-box {
    line-height: 12px;
    font-size: 14px;
    margin-left: 10px;
    padding-right: 10px; }
  .sub-nav .menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .sub-nav .menu .hamburger-menu {
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .sub-nav .menu .hamburger-menu .words {
        font-weight: 700; }
  .sub-nav .list {
    height: 100%;
    display: flex;
    align-items: center; }
    .sub-nav .list a {
      display: flex;
      align-items: center;
      height: 30px;
      text-decoration: none;
      padding: 0 7px;
      font-weight: 400; }

@media (max-width: 1200px) {
  .sub-nav .list {
    display: none; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: amazon Ember; }

/*# sourceMappingURL=index.style.css.map */
