main {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 10px 5vw;

    a {
        color: $blu;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            text-decoration: underline;
            color: $orange;
        }
    }

    .path {
        font-size: 12px;
        font-weight: 400;
        color: #565959;
        margin-bottom: 20px;
    }

    .panes {
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px #ccc solid;

        .pane {
            height: 99%;
            // border: #565959 1px solid;
        }

        .big {
            font-size: 18px;
        }

        .red {
            color: #b12704;
        }

        .line {
            text-decoration: line-through;
        }

        .container {
            width: 80%;
            display: flex;

            .image-pane {
                width: 60%;
                display: flex;
                flex-direction: row;

                .image-container {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    padding: 1.3rem;

                    .little {
                        height: 300px;
                        width: 40px;
                        // padding: 1.3rem;
                        // position: sticky;

    
                        .preview-1 {
                            width: 38px;
                            height: 50px;
                            background: url(/Assets/Img/little-1.jpg) no-repeat center center/cover;
                            border: rgba(0, 0, 0, 0.385) 1px solid;
                            margin-bottom: 0.6rem;
                            cursor: pointer;

                            &:hover {
                                border: #ffb514 1px solid;
                                box-shadow: 1px 1px 2px 1px #ffd814c5, -1px -1px 2px 1px #ffd814c5;
                            }
                        }

                        .preview-2 {
                            width: 38px;
                            height: 50px;
                            background: url(/Assets/Img/watch-2.jpg) no-repeat center center/cover;
                            border: rgba(0, 0, 0, 0.385) 1px solid;
                            margin-bottom: 0.6rem;
                            cursor: pointer;

                            &:hover {
                                border: #ffb514 1px solid;
                                box-shadow: 1px 1px 2px 1px #ffd814c5, -1px -1px 2px 1px #ffd814c5;
                            }
                        }

                        .preview-3 {
                            width: 38px;
                            height: 50px;
                            background: url(/Assets/Img/watch-3.jpg) no-repeat center center/cover;
                            border: rgba(0, 0, 0, 0.385) 1px solid;
                            margin-bottom: 1rem;
                            cursor: pointer;

                            &:hover {
                                border: #ffb514 1px solid;
                                box-shadow: 1px 1px 2px 1px #ffd814c5, -1px -1px 2px 1px #ffd814c5;
                            }
                        }
                    }

                    .big-pic {
                        width: 95%;
                        height: 100%;
                        text-align: center;

                        .pic {
                            height: 100%;
                            background: url(/Assets/Img/watch-1.jpg) no-repeat center center;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
    
            .detailes-pane {
                width: 40%;
    
                .box {
                    border-bottom: 1px rgb(226, 224, 224) solid;
                    width: 100%
                }
    
                .top-top {
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .top {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        // height: 60%;

                        h1 {
                            font-weight: 400;
                            font-size: 24px;
                            color: #565959;
                        }
                    }
                    .bottom {
                        a {
                            font-size: 12px;
                        }
                    }
                }
    
                .top-down {
                    height: 15%;
                    color: #565959;
                    font-size: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .top {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        // text-align: center;
                        // width: 50%;
                        line-height: 20px;
                        padding: 10px 0;
                    }

                    .bottom {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }
                }
    
                .down-top {
                    height: 24%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h4 {
                        margin: 0.5vw 0;
                    }

                    ul {
                        font-size: 14px;
                        margin-left: 18px;
                        margin-bottom: 0.5vw;

                        li {
                            padding: 3px 0;
                        }
                    }
                }
    
                .down-down {
                    border: none;
                }
            }
        }

        .sale-pane {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;

            .small {
                line-height: 16px;
                font-size: 12px;
            }

            .light {
                color: #565959;
            }

            .with-border {
                // display: flex;
                // flex-direction: column;
                border: #ccc 1px solid;
                border-radius: 5px;
                height: 90%;
                width: 90%;
                padding: 0 1.7rem;

                h2 {
                    font-size: 18px;
                    color: #007600;
                }

                select {
                    border-radius: 10px;
                    font-size: 11px;
                    background: rgb(229, 225, 225);
                    color: #0f1111;
                    opacity: 0.8;
                    cursor: pointer;
                }

                .round-btn {
                    width: 100%;
                    margin-bottom: 0.5rem;
                    padding: 0.5rem;
                    // line-height: 19px;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                }

                .btn-cart {
                    background: #FFD814;
                    &:hover {
                        background: #ffc414;
                    }
                }

                .btn-buy {
                    background: #FFA41C;
                    &:hover {
                        background: #ff991c;
                    }
                }

                .border {
                    width: 100%;
                    height: 30px;
                    border-bottom: 1px rgba(0, 0, 0, 0.19) solid;
                }

                .btn-list {
                    width: 100%;
                    text-align: start;
                    padding: 0.3rem ;
                    cursor: pointer;
                    margin-top: 5px;
                }
            }

            .icons {
                margin-top: 10px;
                // width: 90%;
                a {
                    display: inline-block;
                    width: 18px;
                    height: 15px;
                    background: url(/Assets/Img/_email_add_app_essential_icon.png) no-repeat center center/cover;
                }
                .facebook {
                    background: url(/Assets/Img/_facebook_social\ media_social_icon.png) no-repeat center center/cover;
                }
                .twitter {
                    background: url(/Assets/Img/_bird_tweet_twitter_twitter\ logo_icon.png) no-repeat center center/cover;
                }
                .pinterest {
                    background: url(/Assets/Img/_inspiration_pin_pinned_pinterest_social\ network_icon.png) no-repeat center center/cover;
                }

                button {
                    background: #fff;
                    margin-top: 10px;
                    border-radius: 5px;
                    padding: 0.3rem 1rem;
                    border: 1px #ccc solid;
                }
            }
        }
    }
}