main {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 10px 5vw;

    a {
        color: $blu;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            text-decoration: underline;
            color: $orange;
        }
    }

    .path {
        font-size: 12px;
        font-weight: 400;
        color: #565959;
        margin-bottom: 20px;
    }

    .panes {
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px #ccc solid;

        .pane {
            height: 99%;
            // border: #565959 1px solid;
        }

        .big {
            font-size: 18px;
        }

        .red {
            color: #b12704;
        }

        .line {
            text-decoration: line-through;
        }

        .container {
            width: 80%;
            display: flex;

            .image-pane {
                width: 60%;
            }
    
            .detailes-pane {
                width: 40%;
    
                .box {
                    border-bottom: 1px rgb(226, 224, 224) solid;
                    width: 100%
                }
    
                .top-top {
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .top {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        // height: 60%;

                        h1 {
                            font-weight: 400;
                            font-size: 24px;
                            color: #565959;
                        }
                    }
                    .bottom {
                        a {
                            font-size: 12px;
                        }
                    }
                }
    
                .top-down {
                    height: 15%;
                    color: #565959;
                    font-size: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .top {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        // text-align: center;
                        // width: 50%;
                        line-height: 20px;
                        padding: 10px 0;
                    }

                    .bottom {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }
                }
    
                .down-top {
                    height: 24%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h4 {
                        margin: 0.5vw 0;
                    }

                    ul {
                        font-size: 14px;
                        margin-left: 18px;
                        margin-bottom: 0.5vw;

                        li {
                            padding: 3px 0;
                        }
                    }
                }
    
                .down-down {
                    border: none;
                }
            }
        }

        .sale-pane {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;

            .small {
                line-height: 16px;
                font-size: 12px;
            }

            .light {
                color: #565959;
            }

            .with-border {
                border: #ccc 1px solid;
                border-radius: 5px;
                height: 70%;
                width: 90%;
                padding: 1rem;
            }

            .icons {

            }
        }
    }
}