@media (max-width: 1200px) {
    
    .navbar {
        justify-content: space-between;

        .left-box {
            .logo {
                margin-right: 50px;
                .nav-box {
                    
                }
            } 
            .deliver {
                display: none;
            }
        }
        .right-box {
            .orders {
                display: none;
            }
            .account {
                display: none;
            }
            .state {
                display: none;
            }
            .cart {
                width: 4rem;
            }
        }
        .main-box {
            
            .search-bar {
                margin-left: 50px;
                width: 110px;
                flex: 0;
            }

            .search-btn {
                // display: none;
            }

            .nav-search-dropdown {
                display: none;
            }
        }
    }
}